{erl_opts, [debug_info]}.

{project_plugins, [erlfmt]}.

{profiles, [
    {test, [
        {deps, [
            %% hex
            {proper, "1.3.0"}
        ]}
    ]}
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.
{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.
